{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
    <h3>Login</h3>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form%}
           {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
           <br>
        {% endfor %}

        <input type="submit" value="Login">
        <div>
            <small>New User? <a href="{% url 'customerregistration' %}">Create an Account</a></small>
        </div>

        {% if form.non_field_errors %}
           {% for error in form.non_filed_errors %}
              <p>{{error}}</p>
            {% endfor %}
        {% endif %} 
        
    </form>
{% endblock main-content %}