{% extends 'base.html' %}
{% load static %}
{% block title %}Order{% endblock title %}
{% block main-content %}
<div class="container">
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row mt-5">
        <div class="col-sm-6">
            <h4>Order Summary</h4>
            <hr>
            {% for item in shoppingcart %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5>Product: {{item.product.productName}}</h5>
                        <p>Quantity: {{item.quantity}}</p>
                        <p class="fw-bold">Price: {{item.product.price}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-4" offset-sm-1>
            <h4>Select Shipping Address</h4>
            <hr>
            <form method="post" id="myform">
                {% csrf_token %}
                {% for address in address %}
                    <div class="card">
                        <div class="card-body">
                            <P>FullName: {{address.fullName}}</P>
                            <p>Mobile: {{address.phoneNum}}</p>
                            <p>Address: {{address.address}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-check mt-2 mb-5" >
                        
                    </div>
                
                <div class="form-check mb-3">
                    <label for="totalamount" class="form-label" >Total Amount</label>
                    <input type="number" class="form-control" name="totalamount" value={{totalamount}} readonly>
                </div>

                

                
               
            </form>

            <form action="{% url 'order:orderCommit' %}" class="d-inline" method="post">
                {% csrf_token %}
                <input type="hidden" id="totalamount" name="totalamount" value="{{totalamount}}" />
                <input type="submit" value="OK">
                <button type="sumbit" class="d-grid gap-2 btn btn-danger p-1 m-1 btn-1g text-decoration-none text-white" >Commit</button>
            </form>
        </div>
    </div>
</div>
<script>
function getValue(value){
    alert(value)
    return value 
}




</script>

{% endblock main-content %}
