{% extends 'base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                {% for group in request.user.groups.all %}
                    {% if group.name == 'Customer' %}
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=all" class="btn btn-primary" {% if filter == 'all' %}class="active"{% endif %}>All Orders</a></li>
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=current" class="btn" {% if filter == 'current' %}class="active"{% endif %}>Current Purchases</a></li>
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=past" class="btn" {% if filter == 'past' %}class="active"{% endif %}>Past Purchases</a></li>
                    {% elif group.name == 'Vendor' %}
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=allVendor" class="btn btn-primary" {% if filter == 'allVendor' %}class="active"{% endif %}>All Orders</a></li>
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=pending" class="btn" {% if filter == 'pending' %}class="active"{% endif %}>Pending Orders</a></li>
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=hold" class="btn" {% if filter == 'hold' %}class="active"{% endif %}>Orders On Hold</a></li>
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=pastOrders" class="btn" {% if filter == 'pastOrders' %}class="active"{% endif %}>Past Orders</a></li>
                        <li class="d-grid"><a href="{% url 'order:report' %}" class="btn btn-outline-secondary">Get Sales Report</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            {% if orders %}
                
                <div class="acss">
                    
                        {% for group in request.user.groups.all %}
                            {% if group.name == 'Vendor' %}
                                
                                    <div class="container-fluid " >
                                        <form class="d-flex" role="search" action="{% url 'order:searchOrder' %}" method="get">
                                        <input class="form-control me-2" type="text" name="search" placeholder="Search" aria-label="Search">
                                        
                                        <button class="btn btn-outline-success" type="submit">Search</button>
                                        </form>
                                    </div>
                                    <br>
                              
                            {% endif %}
                        {% endfor %}
                   

                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">PONumber</th>
                            <th scope="col">Purchase Date</th>
                            {% for group in request.user.groups.all %}
                                {% if group.name == 'Vendor' %}
                                    <th scope="col">Customer Name</th>
                                {% endif %}
                            {% endfor %}
                            <th scope="col">Order Status</th>
                            <th scope="col">Total</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            {% for order,total in orderZip %}

                            <tr>
                                
                                <th scope="row"><a href="{% url 'order:order_detail' order.PONumber  %}" style="text-decoration:none; color:black">{{order.PONumber}}</a></th>
                                <td><a href="{% url 'order:order_detail' order.PONumber  %}" style="text-decoration:none; color:black">{{order.purchaseDate}}</a></td>
                                {% for group in request.user.groups.all %}
                                    {% if group.name == 'Vendor' %}
                                        <td><a href="{% url 'order:order_detail' order.PONumber  %}" style="text-decoration:none; color:black">{{order.customer.fullName}}</a></td>
                                    {% endif %}
                                {% endfor %}
                                <td><a href="{% url 'order:order_detail' order.PONumber  %}" style="text-decoration:none; color:black">{{order.status}}</a></td>
                                <td><a href="{% url 'order:order_detail' order.PONumber  %}" style="text-decoration:none; color:black">${{total}}</a></td>
                                
                                
                            </tr>
                            
                            {% endfor %}
                            
                        </tbody>
                    </table>
                        
                        
                        <br>

                </div>
            {% else %}
                <h1 class="text-center mb-5">Orders are empty.</h1>
            {% endif %}
        </div>
    
    </div>
</div>
{% endblock main-content %}
