{% extends 'base.html' %}
{% load static %}
{% block title %}Order Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                {% for group in request.user.groups.all %}
                    {% if group.name == 'Customer' %}
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=all" class="btn btn-primary" {% if filter == 'all' %}class="active"{% endif %}>All Orders</a></li>
                    {% elif group.name == 'Vendor' %}
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=allVendor" class="btn btn-primary" {% if filter == 'allVendor' %}class="active"{% endif %}>All Orders</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <h3>PONumber: {{order.PONumber}}</h3>
            {% for item in orderitems %}
                <div class="card">
                    <div class="card-body">
                
                        <div class="col-sm-7">
                            <p>Name: 《{{item.product.productName}}》</p>
                            <p>Quantity: 1 </p>
                            <p>Price: ${{item.price}}</p>
                            <p>Subtotal: ${{item.price}}</p>
                            {{item.RRDate }}
                        </div>
                        {% for group in request.user.groups.all %}
                            {% if group.name == 'Customer' %}
                                {% if order.status == 'shipped' %}
                                    <div class="col-sm-12">
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            {% if item.myRate %}
                                                {% if item.commentAgain %}
                                                    <button type="button" class="btn btn-secondary" disabled>Rate & Review Ended</button>
                                                {% else %}
                                                    {% if item.RRDate %}
                                                        {% if item.CanRRAgain %}
                                                        <form action="/RRAdd" class="d-inline">
                                                            <input type="hidden" id="PONumber" name="PONumber" value="{{order.PONumber}}" />
                                                            <input type="hidden" id="item_id" name="item_id" value="{{item.id}}" />
                                                            <button type="sumbit" class="btn btn-primary" >Rate & Review Again</button>
                                                        </form>
                                                        {% else %}
                                                        <button type="button" class="btn btn-secondary" disabled>Rate & Review Again</button>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                <form action="/RRAdd" class="d-inline">
                                                    <input type="hidden" id="PONumber" name="PONumber" value="{{order.PONumber}}" />
                                                    <input type="hidden" id="item_id" name="item_id" value="{{item.id}}" />
                                                    <button type="sumbit" class="btn btn-primary" >Rate & Review</button>
                                                </form>
                                            {% endif %}
                                        </div> 
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
                <br>
            {% endfor %}
                <div class="col-sm">
                    <p>Purchase Date: {{order.purchaseDate}}</p>
                    <p>Order Status: {{order.status}}</p>
                    {% if order.status == 'shipped' %}
                        <p>Shippment Date: {{order.shipmentDate}}</p>
                    {% elif order.status == 'cancelled' %}
                        <p>Cancel Date: {{order.cancelDate}}</p>
                        <p>Cancel Person: Vendor1 </p>
                    {% endif %}
                </div>
            
            {% for c in customer %}
                <p>Customer Name: {{c.fullName}}</P>
                <p>Shipping Address: {{c.address}}</p>
            {% endfor %}
            <h3>Total: ${{total}}</h3>
            {% for group in request.user.groups.all %}
                {% if group.name == 'Vendor' %}
                    {% if order.status != 'cancelled' %}
                        {% if order.status != 'shipped' %}
                        <form action="/orderChange" class="d-inline">
                            <input type="hidden" id="status" name="status" value="shipped" />
                            <input type="hidden" id="PONumber" name="PONumber" value="{{order.PONumber}}" />
                            <button type="sumbit" class="d-grid gap-2 btn btn-danger p-1 m-1 btn-lg text-decoration-none text-white" >Ship the Order</button>
                        </form>
                        {% endif %}

                        <form action="/orderChange" class="d-inline">
                            <input type="hidden" id="status" name="status" value="cancelled" />
                            <input type="hidden" id="PONumber" name="PONumber" value="{{order.PONumber}}" />
                            <button type="sumbit" class="d-grid gap-2 btn btn-danger p-1 m-1 btn-lg text-decoration-none text-white" >Cancel the Order</button>
                        </form>
                        
                        {% if order.status == 'pending' %}
                        <form action="/orderChange" class="d-inline">
                            <input type="hidden" id="status" name="status" value="hold" />
                            <input type="hidden" id="PONumber" name="PONumber" value="{{order.PONumber}}" />
                            <button type="sumbit" class="d-grid gap-2 btn btn-danger p-1 m-1 btn-lg text-decoration-none text-white" >Hold the Order</button>
                        </form>
                        {% endif %}
                        {% if order.status == 'hold' %}
                        <form action="/orderChange" class="d-inline">
                            <input type="hidden" id="status" name="status" value="pending" />
                            <input type="hidden" id="PONumber" name="PONumber" value="{{order.PONumber}}" />
                            <button type="sumbit" class="d-grid gap-2 btn btn-danger p-1 m-1 btn-lg text-decoration-none text-white" >Pend the Order</button>
                        </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        
    </div>
</div>
{% endblock main-content %}

