{% extends 'base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
    <div class="container">
        <div class="row flex justify-content-between">
            <div class="img2 col-lg-4 mt-3 mb-5">
                <img src="{{product.image.url}}" class="img col-xs-6 col-sm-12 col-lg-12 mt-1 mb-3 text-sm-center w-75 h-90" alt="">
            </div>
            <div class="productdetail col-lg-8">
                <h1> Name: {{product.productName}} </h1>
                <h5> Author: {{product.author}} </h5>
                <h5> Publisher: {{product.publisher}} </h5>
                <h5> Price: {{product.price}} </h5>
                <h5> Category: {{product.category.categoryName}} </h5>
                <h5> ISBN: {{product.ISBN}} </h5>
                <h5> Introduction: {{product.introduction}} </h5>

                {% for group in request.user.groups.all %}
                {% if group.name == 'Customer' %}
                <form action="/cartAdd" class="d-inline">
                    <input type="hidden" id="product_id" name="product_id" value="{{product.id}}" />
                    <button type="sumbit" class="d-grid gap-2 btn btn-danger p-1 m-1 btn-1g text-decoration-none text-white" >Add to Cart</button>
                </form>

            
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main-content %}
