{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}

<div class="container my-5>
    
    <div class="col-sm-8 offset-sm-1">
        <div class="row">
            {% for profile in profiles %}
            <div class="col-sm-6"} 
                <div class="card m-2">
                    <div class="card-body">
                        <P>Username: {{profile.user.username}} <p>
                        <P>Email: {{profile.user.email}} <p>
                        <p>Full Name: {{profile.fullName}} </p>
                        <p>Phone Number: {{profile.phoneNum}} </p>
                        <p>Address: {{profile.address}} </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</div>
{% endblock main-content %}
