{% extends 'base.html' %}
{% load static %}
{% block title %}Sales Report{% endblock title %}
{% block main-content %}
<div class="container">
  <h2>Sales Report</h2>
  <h5>If no time period is selected, the report defaults to the last thirty days.</h5>
  <div class="row">
    <form method="get" role="search" action="{% url 'order:searchDate' %}">
      <div class='col-sm-5'>
          <div class="form-group">
              <label>Start Time:</label>
              <!--指定 date标记-->
              <div class='input-group date' id='datetimepicker1'>
                  <input type='text' class="form-control" name="datetimepicker1"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
      <div class='col-sm-5'>
          <div class="form-group">
              <label>End Time:</label>
              <!--指定 date标记-->
              <div class='input-group date' id='datetimepicker2'>
                  <input type='text' class="form-control" name="datetimepicker2"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
      <div class='col-sm-2'>
        <label></label>
        <button type="sumbit" class="d-grid gap-2 btn btn-danger p-1 m-1 btn-lg text-decoration-none text-white" >Search</button>
      </div>
    </form>
  
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker1').datetimepicker({
          format: 'YYYY-MM-DD HH:MM',
        });
        $('#datetimepicker2').datetimepicker({
          format: 'YYYY-MM-DD HH:MM',
          useCurrent: false
         //Important! 
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });
      });
      </script>
  </div>
  <div class="sort_bar">
    Sorting Method:
    <a href="{% url 'order:report'  %}?sort=quantity" {% if sort == 'quantity' %}class="active"{% endif %}>Quantity(Default)</a> OR 
    <a href="{% url 'order:report'  %}?sort=amount" {% if sort == 'amount' %}class="active"{% endif %}>Amount</a>
    <div>Currently sorted by: <b>{{ choose }}</b></div>    
  </div>
  <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Sales Quantities</th>
          <th scope="col">Sales Amount</th>
        </tr>
      </thead>
      <tbody>
        
        {% for sort in sortList %}
            <tr>
              <th scope="row"></th>
              <th>《{{ sort.0.0 }}》</th>
              <td>${{ sort.0.1}}</td>
              <td>{{ sort.1 }}</td>
              <td>${{ sort.2 }}</td>
          </tr>
        {% endfor %}
          <tr>
            <th scope="row">SUM</th>
            <th></th>
            <td></td>
            <td>{{ length }}</td>
            <td>${{ total }}</td>
          </tr>
      </tbody>
    </table>
    <h2>The best selling product(s):
      {% for best in best %}
        {% if forloop.counter == 1 %}《{{best.0.0}}》
        {% else %} 《{{best.0.0}}》 
        {% endif %}
      {% endfor %}
    .</h2>
</div>
{% endblock main-content %}