{% extends 'base.html' %}
{% load static %}
{% load templatehelper %}
{% block title %}Sales Report{% endblock title %}
{% block main-content %}
<h2>Sales Report</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Sales Quantities</th>
        <th scope="col">Sales Amount</th>
      </tr>
    </thead>
    <tbody>
      
      {% for key,value in dic.items %}
        <tr>
            <th scope="row">《{{ key.0 }}》</th>
            <td>${{ key.1}}</td>
            <td>{{ value }}</td>
            <td>${{ key.1 |div:value }}
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main-content %}
