{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block main-content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container my-5">
    <div class="row">
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                {% for group in request.user.groups.all %}
                    {% if group.name == 'Customer' %}
                        <li class="d-grid"><a href="{% url 'order:order_detail' order.PONumber %}" class="btn btn-primary" >Return the order</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            
                <div class="card">
                    <div class="card-body">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <div class="col text-center mb-4">
                                    <a href="{% url 'products:product_detail' item.product.id %}" class="btn img-fluid rounded-start">
                                        <div>
                                            <img src="{{item.product.image.url}}" width="200px" height="300px">
                                            <div class="fw-bold" style="width:200px; text-overflow:ellipsis; overflow:hidden ">《{{item.product.productName}}》</div>
                                            <div class="fw-bold text-danger">Price: ${{item.price}}</div>
                                            <div class="fw-bold">Category: {{item.product.category.categoryName}}</div>
                                            
                                        </div>
                                    </a>
                                </div>  
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                
                                <h5 class="card-title"></h5>                                
                                <div class="mb-3"> 
                                    <form action="/submitRR/" method="POST">
                                        {% csrf_token %}
                                        <h5>Write Your Review</h5>
                    
                                        <div>
                                            <!-- Rating stars -->
                                            <label>How do you rate this product?</label>
                                            <br>
                                            <div class="rate">
                                                <input type="radio" name="myRate" id="rating10" value="5" required /><label for="rating10" title="5"></label>
                                                <input type="radio" name="myRate" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
                                                <input type="radio" name="myRate" id="rating8" value="4" required /><label for="rating8" title="4"></label>
                                                <input type="radio" name="myRate" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
                                                <input type="radio" name="myRate" id="rating6" value="3" required /><label for="rating6" title="3"></label>
                                                <input type="radio" name="myRate" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
                                                <input type="radio" name="myRate" id="rating4" value="2" required /><label for="rating4" title="2"></label>
                                                <input type="radio" name="myRate" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
                                                <input type="radio" name="myRate" id="rating2" value="1" required /><label for="rating2" title="1"></label>
                                                <input type="radio" name="myRate" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
                                            </div>
                    <br>
                                           
                                            <h5><b>Review:</b></h5>
                                            <textarea name="myComment" rows="4" class="form-control"></textarea>
                                            <br>
                                            {% if user.is_authenticated %}
                                                {% if item %}
                                                    <input type="hidden" id="PONumber" name="PONumber" value="{{order.PONumber}}" />
                                                    <input type="hidden" id="item_id" name="item_id" value="{{item.id}}" />
                                                    <input type="submit" value="Submit" class="btn btn-primary">
                                                {% else %}
                                                    <p>You must purchase this product to post a review.</p>
                                                {% endif %}
                                            {% else %}
                                            <p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login now</a></span></p>
                                            {% endif %}
                    
                                        </div>
                                    </form>     

                                    
                                  
                                </div>
                                
                                
                              </div>
                            </div>
                        

                    </div>
                </div>
                <br>
            
            
           
        </div>
        
    </div>
</div>
{% endblock main-content %}
