{% extends 'base.html' %}
{% load static %}
{% block title %}Search Order{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                {% for group in request.user.groups.all %}
                    {% if group.name == 'Customer' %}
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=all" class="btn btn-primary" {% if filter == 'all' %}class="active"{% endif %}>All Orders</a></li>
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=current" class="btn" {% if filter == 'current' %}class="active"{% endif %}>Current Purchases</a></li>
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=past" class="btn" {% if filter == 'past' %}class="active"{% endif %}>Past Purchases</a></li>
                    {% elif group.name == 'Vendor' %}
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=allVendor" class="btn btn-primary" {% if filter == 'allVendor' %}class="active"{% endif %}>All Orders</a></li>
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=pending" class="btn" {% if filter == 'pending' %}class="active"{% endif %}>Pending Orders</a></li>
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=hold" class="btn" {% if filter == 'hold' %}class="active"{% endif %}>Orders On Hold</a></li>
                        <li class="d-grid"><a href="{% url 'order:orders' %}?filter=pastOrders" class="btn" {% if filter == 'pastOrders' %}class="active"{% endif %}>Past Orders</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            {% if orders %}
                <div class="container-fluid " >
                    <form class="d-flex" role="search" action="{% url 'order:searchOrder' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <br>
                <div class="acss">
                    {% for order in orders %}
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'order:order_detail' order.PONumber  %}" >
                                

                                
                                    <div class="col-sm-7">
                                        <p>PONumber: {{order.PONumber}}</p>
                                        <p>Purchase Date: {{order.purchaseDate}}</p>
                                        {% for group in request.user.groups.all %}
                                            {% if group.name == 'Vendor' %}
                                                <p>Customer Name: {{order.customer.fullName}}</p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm">
                                        <p>Order Status: {{order.status}}</p>
                                        
                                            
                                        <p>Total: {{total}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <br>

                    {% endfor %}
                </div>
            {% else %}
                <h1 class="text-center mb-5">Orders are empty.</h1>
            {% endif %}
        </div>
    
    </div>
</div>
{% endblock main-content %}
